[MASTER]
fail-under=10.0
jobs=1
load-plugins=pylint_quotes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
disable=too-few-public-methods
enable=unused-wildcard-import

[REPORTS]
score=yes
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
output-format=text
reports=no

[REFACTORING]
max-nested-blocks=10
never-returning-functions=sys.exit

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
bad-names=l
class-attribute-naming-style=any
class-naming-style=any
class-rgx=^[A-Z][a-zA-Z]*$
const-naming-style=UPPER_CASE
docstring-min-length=-1
function-naming-style=snake_case
good-names-rgxs=^[a-z_]$
include-naming-hint=no
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
no-docstring-rgx=^_
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[FORMAT]
expected-line-ending-format=LF
indent-after-paren=4
indent-string='    '
max-line-length=120
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no
string-quote=double-avoid-escape
triple-quote=double
docstring-quote=double

[MISCELLANEOUS]
notes=TODO

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=50

[SPELLING]
max-spelling-suggestions=4
spelling-store-unknown-words=no

[STRING]
check-quote-consistency=no
check-str-concat-over-line-jumps=no

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
ignore-mixin-members=yes
ignore-none=no
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1

[VARIABLES]
allow-global-unused-variables=yes
callbacks=cb_,_cb
dummy-variables-rgx=^_$
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io

[CLASSES]
defining-attr-methods=__init__,__new__,__post_init__
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls

[DESIGN]
max-args=20
max-attributes=50
max-bool-expr=10
max-branches=50
max-locals=50
max-parents=20
max-public-methods=100
max-returns=10
max-statements=100
min-public-methods=2

[IMPORTS]
allow-wildcard-with-all=no
analyse-fallback-blocks=yes

[EXCEPTIONS]
overgeneral-exceptions=BaseException,Exception
